body{
    margin-top: 0%;
    background-color: rgb(44, 40, 40);
    margin-left: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

header{
    padding-bottom: 0%;
    padding-top: 0%;
    background-color: rgb(44, 40, 40);
}
nav ul{
    display: inline;
    margin-left: 80px;
}
nav ul li{
    display: inline-block;
    font-size: 18pt;
    list-style-type: none;
    background-color: black;
    color: red;
    margin-right: 70px;
    padding-right: 1px;
}
nav ul li a{
    color: red;
    background-color: black;
}

h4{
    color:red;
    font-size: 18pt;
}
img{
    padding-left:21%;
}
footer{
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 1%;
    margin-left: 0%;
    background-color: black;

}
.image{
    padding-left: 0%;
}
.stone{
    color: rgba(38, 148, 38, 0.767);
}
.water{
    color: rgb(13, 110, 201);
}
.ins{
    color: rgb(255, 142, 142)
}
.fire{
    color: rgb(230, 84, 0);
}
.love{
    color:rgb(253, 132, 153)
}
.mist{
    color: rgb(104, 212, 189)
}
.sound{
    color: goldenrod;
}
.snake{
color: rgb(151, 151, 127);    
}
.wind{
    color: lightblue;
}
.red{
    color: red;
    padding: 1%;
}
h3{
    color: red;
}
h5{
    font-size: large;
}